#frecuency {
    position: absolute;
    border-radius: 10px;
    display: block;
    font-size: 1rem;
    font-family: sans-serif;
    width: 70vw;
    height: 20rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

.theta {
    left: 10vw;
    top: 60rem;
}

.alfa {
    left: 10vw;
    top: 82rem;
}

.omega {
    left: 10vw;
    top: 104rem;
}

.h1 {
    position: absolute;
    width: 90vw;
    left: 5vw;
    font-size: 4rem;
    text-align: center;
    margin: 0;
    top: 16rem;
}

.arrowDwn {
    visibility: hidden;
}